@import "tailwindcss";

html,
body {
  scroll-behavior: smooth;
  background-color: #fff;
}

/* Optional – sleek scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #0d9488; /* emerald */
  border-radius: 10px;
}
