@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.2s ease-out forwards;
}

.text-gold {
  color: #f4d58d; /* your main gold shade */
}

.text-gold-two {
  color: #d4a84f; /* your main gold shade */
}

.text-gold-three {
  color: #a67835; /* your main gold shade */
}

.text-light {
  color: #fcc200;
}

.bg-gold {
  background-color: #f4d58d;
}

.bg-off-white {
  background-color: #d4a84f;
}

.bg-gold-two {
  background-color: #d4af37;
}

.bg-gold-three {
  background-color: #a67835;
}

.border-gold {
  border-color: #f0b429;
}

.custom-btn {
  background: #e8e8e6; /* dark teal from logo */
  color: #0f2e31; /* light gray from logo */
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.custom-btn:hover {
  background: #0f2e31; /* invert */
  color: #e8e8e6;
  transform: translateY(-2px);
}

.custom-btn:active {
  transform: translateY(0);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
